{erl_opts, [debug_info]}.
{deps, []}.
{plugins, [pc]}.
{profiles,
 [
  {shell, [{deps, [sync]}]},
  {lint, [{plugins, [rebar3_lint]}]},
  {eqc, [{plugins, [rebar_eqc]}]},
  {test, [{deps, [k6_bytea]}]}
 ]}.

{provider_hooks,
  [{post,
    [{compile, {pc, compile}},
     {clean, {pc, clean}}]}]}.

{port_env, [{"CFLAGS", "$CFLAGS -g3 -std=c99"}]}.

{port_specs, [
    {"priv/mcache_drv.so", ["c_src/*.c"]}
]}.

{artifacts,
 ["priv/mcache_drv.so"]}.
