{erl_opts, [debug_info]}.
{deps, []}.
{plugins, [pc]}.
{profiles,
 [
  {shell, [{deps, [sync]}]},
  {lint, [{plugins, [rebar3_lint]}]},
  {eqc, [{erl_opts, [debug_info]}, {plugins, [rebar_eqc]}]},
  {local, [{erl_opts, [{d, 'LOCAL'}]}, {plugins, [rebar_eqc]}]},
  {test, [{deps, [k6_bytea]}]}
 ]}.

{provider_hooks,
  [{post,
    [{compile, {pc, compile}},
     {clean, {pc, clean}}]}]}.

{artifacts, ["priv/mcache_drv.so"]}.

{provider_hooks, [
                 {post, [{compile, {pc, compile}}]}
                 ]}.

%{port_env, [{"CFLAGS", "$CFLAGS -g3 -std=c99 -Werror"}]}.
{port_env, [{"CFLAGS", "$CFLAGS -g3 -std=c99"}]}.

{port_specs, [
    {"priv/mcache_drv.so", ["c_src/*.c"]}
]}.

{artifacts,
 ["priv/mcache_drv.so"]}.
